/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  font-family:
    system-ui,
    Segoe UI,
    Roboto,
    Arial;
  max-width: 800px;
  margin: 24px auto 0 auto;
  background-color: #f4f4f4;
}

h1 {
  font-size: 48px;
  font-weight: normal;
}

.question-box {
  padding: 1.5rem;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(172, 172, 172);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.question-title {
  font-size: 24px;
  font-weight: 500;
}

.continue-button {
  background-color: white;
  color: #005699;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.25rem;
  font-size: 20px;
  cursor: pointer;
  align-self: flex-end;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.continue-button--disabled {
  background-color: transparent;
  color: gray;
  padding: 0.5rem 1.25rem;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  cursor: default;
  pointer-events: none;
}

.continue-button:hover {
  background-color: rgb(244, 244, 244);
}

.clear-form-button {
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  color: #005699;
  padding: 0.5rem 1.25rem;
  font-size: 20px;
}

.clear-form-button:hover {
  background-color: rgba(0, 86, 153, 0.1);
}

.section-title-box {
  padding: 1.5rem;
  background-color: rgb(172, 172, 172);
  font-size: 24px;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
